<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome</h1>
    <div id='fb-root'>
      <fb:logout-button size='large' scope='public_profile,email' length='long' autologoutlink='true' onlogin="checkLoginState();"></fb:logout-button>
    </div>
  </body>
</html>
